html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container-objects {
  height: 100%;
}

#app {
  margin-top: 2000px;
}

header {
  width: 100%;
  background-color: black;
  height: 5rem;
}

.footer {
  width: 500px;
  height: 180px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1%;
}

.win-colmun {
  height: 100%; 
  
}

.win-central {
  height: 100%;
  position: relative;
}

.win-text {
  position: relative;
  top: 50%;
}

#null-column {
  position: absolute;
  height: 33.33%;
  position: relative;
  right: 550px;
}

#null-column-top {
  height: 20%;
  position: relative;
}

#null-column-rigth {
    height: 33.33%;
    position: relative;
    left: 150px;
}

.central-columns-middle{
  position: relative;
  height: 5%;
  background-color: cadetblue;
}
